html, body, div { margin: 0; padding: 0; border: 0 none; }

.wrap { 
    white-space: nowrap;
    position: relative;
    max-width: 99%;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;  
}

.content { 
    position: relative;
    white-space: nowrap;
    margin: 0 auto;  
    padding-left: 20%;
    padding-right: 20%;   
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
}

.column {
	flex: 25%;
	max-width: 25%;
	min-width:270px;
	max-height:270px;
	padding: 0 4px;
}

.column img {
	margin-top: 8px;
	vertical-align: middle;
	width: 250px;
	clip-path: circle(100px at 50% 110px);
}	

.element1 {
    display: inline-block;
    width: 33%;                     /* poor approximation for old browsers    */
    width: calc(33% - 8px);         /* standards-based answer for IE9+, FF16+ */
    width: -moz-calc(33% - 8px);    /* support for FF4 - FF15                 */
    width: -webkit-calc(33% - 8px); /* support for Chrome19+ and Safari6+     */
    min-width: 350px;
    white-space: nowrap;
    margin: 0 auto;
}

.element2 {
    display: inline-block;
    width: 33%;                     /* poor approximation for old browsers    */
    width: calc(33% - 8px);         /* standards-based answer for IE9+, FF16+ */
    width: -moz-calc(33% - 8px);    /* support for FF4 - FF15                 */
    width: -webkit-calc(33% - 8px); /* support for Chrome19+ and Safari6+     */
    min-width: 200px;
    text-align: center;
    white-space: normal;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
}

.element3 {
    display: block;
    min-width: 500px;
    width: 89%;                     /* poor approximation for old browsers    */
    width: calc(90% - 8px);         /* standards-based answer for IE9+, FF16+ */
    width: -moz-calc(90% - 8px);    /* support for FF4 - FF15                 */
    width: -webkit-calc(90% - 8px); /* support for Chrome19+ and Safari6+     */
    white-space: normal;
    margin: 0 auto;
}

.element4 {
    display: inline-block;
    width: 19%;                     /* poor approximation for old browsers    */
    width: calc(20% - 8px);         /* standards-based answer for IE9+, FF16+ */
    width: -moz-calc(20% - 8px);    /* support for FF4 - FF15                 */
    width: -webkit-calc(20% - 8px);
    white-space: normal;
}


#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    //min-width: 600px;
}

h1 { 

	font-family: "Arial", sans-serif;
    font-size: 2em;
    margin:0px;
    font-weight: bold;
}

h2 { 
    display: inline-block;
	font-family: "Arial", sans-serif;
    font-size: 30px;
    font-weight: bold;
}

h3 { 
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

h4 { 
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 10px;
    color: black;
}

h5 { 
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 17px;
    font-weight: lighter;
}

h6 { 
    display: inline-block;
    font-family: "Arial", sans-serif;
    font-size: 16px;
    font-weight: lighter;
}

a.one {
    color: black;
    text-decoration: none;
}

a.one:hover{
    text-decoration: underline;
}

a.two {
    color: black;
    text-decoration: none;
}

a.two:hover{
    text-decoration: underline;
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.8;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #D3D3D3;
  font-family: "Arial", sans-serif;
  color: black;
  font-size: 10px;
  padding: 2px;
}

.alignleft{
    float:left;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    margin: auto;
    font-weight: lighter;
}

.alignright{
    float:right;
    display: inline-block;
    font-family: 'Arial', sans-serif;
    margin: auto;
    font-weight: lighter;
}
.myImg {
  border-radius: 5px;
  transition: 0.3s;
  max-height: 500px;
  margin:100px;
  background-color: white;
}
.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
//  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,255,255,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  height: 100%;
  max-height: 500px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: black;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.3s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #000000;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
